*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
hr{
    background-color: #757577;
    opacity: .7;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 1px;
    margin-bottom: 6rem;
    margin-top: 4rem;
    @media(max-width: 500px){
        margin-bottom: 6rem;
    }
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1rem;
    @media(max-width: 500px){
        width: 100%;
        justify-content: space-between;
    }
    .logo{
        img{
            height: 60px;
            width: 130px;
            @media(max-width: 500px){
                height: 50px;
                width: 115px;
            }
        }
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            color: #fff;
            background-color: #ff000f;
            padding: .5rem .7rem;
            border-radius: .2rem;
            font-family: arial;
            @media(max-width: 500px){
                font-size: .8rem;
            }
        }
    }
    .return-btn{
        padding: 2.3rem 1rem;
        display: flex;
        align-items: center;
        justify-content: right;
        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                text-decoration: none;
                color: #fff;
                background-color: #ff000f;
                padding: .5rem .9rem;
                border-radius: .2rem;
                font-family: arial;
                @media(max-width: 500px){
                    font-size: .8rem;
                }
            }
        }
    }
}
.txt{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow-x: hidden;
    z-index: 100;
    @media(max-width: 450px){
        overflow-x: hidden;
        padding: 0 1rem;
        height: auto;
    }
    h2{
        font-size: 3.2rem;
        font-family: arial;
        font-weight: 600;
        text-align: center;
        line-height: 1.2;
        @media(max-width: 570px){
            padding: 0 2rem;
            font-size: 2.4rem;
            text-align: left;
        }
    }
    h4{
        margin: .7rem 0;
        font-size: 1.3rem;
        font-family: arial;
        font-weight: 600;
        text-align: center;
        @media(max-width: 570px){
            padding: 0 2rem;
            text-align: left;
        }
    }
    p{
        font-size: 1rem;
        font-family: verdana;
        text-align: center;
        line-height: 1.5;
        @media(max-width: 570px){
            padding: 0 2rem;
            text-align: left;
        }
    }
    .form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        @media(max-width: 570px){
           flex-direction: column;
           line-height: 2;
           padding: 1rem 30%;
        }
        input{
            height: 45px;
            width: 330px;
            padding: 1rem;
            border-top-left-radius: .2rem;
            border-bottom-left-radius: .2rem;
            border: 1px solid #757577;
            background-color: #1b1a1aee;
            @media(max-width: 570px){
                border-radius: .2rem;
                width: 370px;
            }
            @media(max-width: 500px){
                width: 380px;
            }
            @media(max-width: 420px){
                width: 320px;
            }
            @media(max-width: 380px){
                width: 300px;
            }
            @media(max-width: 330px){
                width: 250px;
            }
        }
        .button{
            width: 200px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ff0011fd;
            border-top-right-radius: .2rem;
            border-bottom-right-radius: .2rem;
            text-align: left;
            @media(max-width: 570px){
                width: 95%;
                border-radius: .2rem;
                margin-top: 1.5rem;
            }
            @media(max-width: 500px){
                width: 150%;
            }
            a{
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #fff;
                font-size: 1.2rem;
                font-family: arial;
                display: flex;
                align-items: center;
                justify-content: center;
                @media(max-width: 570px){
                    font-size: 1.1rem;
                }
            }
        }
    }
}
.wrapper-sign{
    background-color: #000;
    height: 100vh;
    font-family: arial;
    .footer{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1.5rem;
        h4 a{
            color: #757577;
            font-size: 1.5rem;
            text-align: start;
            margin-bottom: 1rem;
            margin-left: 1.5rem;
            text-decoration: none;
        }
        .info{
            height: auto;
            padding: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: start;
            line-height: 2;
            @media(max-width: 530px){line-height: 1.5; }
            .sub-infos{
                justify-content: start;
                a{
                    text-decoration: none;
                    color: #757577;
                    font-size: .93rem;
                    text-align: start;
                    margin-right: 1rem;
                }
            }
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: start;
            margin-left: 1.5rem;
            .lang{
                color: #5e5e5f;;
                background-color: transparent;
                border: 1.3px solid #5e5e5f;;
                padding: .4rem .8rem;
            }
        }
    }
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 1.5rem;
    h2{
        font-size: 2.5rem;
        font-family: arial;
        text-align: center;
        font-weight: 600;
        margin-bottom: 1.3rem;
        @media(max-width: 500px){
            padding-left: 2rem;
            align-self: start;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        width: 30%;
        @media(max-width: 830px){
            width: 45%;
        }
        @media(max-width: 530px){
            width: 100%;
        }
        .main{
            padding: .3rem 1rem;
            height: 45px;
            width: 100%;
            border-radius: .2rem;
            background-color: #333232;
            border: none;
            margin: .7rem 0;
            &::placeholder{color: #8a8a8a;}
        }
        .mini-p{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            p{
                font-family: arial;
                font-size: .8rem;
                color: #757577;
            }
        }
        button{
            margin: 1.5rem 0;
            width: 100%;
            padding: .7rem 2rem;
            color: #fff;
            background-color: #ff000f;
            font-weight: 600;
            font-size: 1.1rem;
            border: none;
            border-radius: .2rem;
            transition: all .4s;
            letter-spacing: 0.8px;
            &:hover{
                background-color: #d80614;
            }
        }
    }
}
.text-again{
    line-height: 2;
    color: #757577;
    padding: .5rem 1.3rem;
    h4{
        font-weight: 500;
        margin-bottom: .3rem;
        a{
            text-decoration: none;
            color: #fff;
            letter-spacing: .8px;
        }
    }
    p{
        font-size: .9rem;
        a{text-decoration: none;}
    }
}
.wrapper{
    background: linear-gradient(rgba(0,0,0,.73), rgba(0,0,0,.95)), url(./images/bg.JPG);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    @media(max-width: 450px){
        background-repeat: repeat;
    }
    @media(max-width: 320px){
        height: auto;
    }
}
.other-sections{
    background-color: #000;
    color: #fff;
    font-family: arial;
    height: auto;
    padding: 2rem 1.5rem;
    overflow-x: hidden;
    .first-part,
    .second-part,
    .third-part,
    .fourth-part{
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding: 3rem;
        line-height: 1.5;
        height: auto;
        margin: 1.5rem 0;
        background: linear-gradient(left, #220c0c, #0f070f);
        border-radius: .4rem;
        @media(max-width: 780px){
            background: linear-gradient(bottom,  #220c0c, #0f070f);
            flex-direction: column-reverse;
            padding: 1.3rem;
        }
        h2{
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
            @media(max-width: 500px){
                font-size: 2rem;
                line-height: 1.2;
            }
            @media(max-width: 420px){
                font-size: 1.5rem;
                text-align: left;
            }
        }
        p{
            font-size: 1.2rem;
            margin: 1rem 0;
            @media(max-width: 500px){
                font-size: 1rem;
                text-align: left;
            }
        }
        .info{
            width: 30%;
            @media(max-width: 850px){
                width: 90%;
            }
        }
        .pic-1{
            height: 190px;
            width:  400px;
            margin: 1.5rem 0;
            @media(max-width: 500px){
                height: 190px;
                width:  300px;
            }
        }
        .pic-2{
            height: 250px;
            width:  400px;
            margin: 1.5rem 0;
            border-bottom-left-radius: .9rem;
            border-top-right-radius: .9rem;
            @media(max-width: 500px){
                height: 180px;
                width:  250px;
            }
        }
        .pic-3{
            height: 300px;
            width:  350px;
            margin: 1.5rem 0;
            @media(max-width: 500px){
                height: 180px;
                width:  180px;
            }
        }
        .pic-4{
            height: 250px;
            width:  200px;
            margin: 1.5rem 0;
            @media(max-width: 500px){
                height: 180px;
                width:  180px;
            }
        }
    }
    .fifth-part{
        line-height: 2;
        padding: 3rem;
        @media(max-width: 570px){
            padding: 2rem 1rem;
        }
        h2{
            text-align: center;
            margin-bottom: 1rem;
        }
        .faq-box{
            background-color: #120c20;
            margin: .8rem 0;
            padding: .5rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ques{
                @media(max-width: 570px){
                    font-size: .9rem;
                }
            }
            .plus-icon{
                font-weight: 600;
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }
    .sixth-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            padding: 0 1rem;
            text-align: left;
            line-height: 1.5;
        }
        .form{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
            margin-top: 1rem;
            @media(max-width: 570px){
               flex-direction: column;
               line-height: 2;
               padding: 1rem 30%;
            }
            input{
                height: 45px;
                width: 330px;
                padding: 1rem;
                border-top-left-radius: .2rem;
                border-bottom-left-radius: .2rem;
                border: 1px solid #757577;
                background-color: #1b1a1aee;
                @media(max-width: 570px){
                    border-radius: .2rem;
                    width: 370px;
                }
                @media(max-width: 500px){
                    width: 380px;
                }
                @media(max-width: 420px){
                    width: 320px;
                }
                @media(max-width: 380px){
                    width: 300px;
                }
                @media(max-width: 330px){
                    width: 250px;
                }
            }
            .button{
                width: 200px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ff0011fd;
                border-top-right-radius: .2rem;
                border-bottom-right-radius: .2rem;
                text-align: left;
                @media(max-width: 570px){
                    width: 95%;
                    border-radius: .2rem;
                    margin-top: 1.5rem;
                }
                @media(max-width: 500px){
                    width: 150%;
                }
                a{
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.2rem;
                    font-family: arial;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media(max-width: 570px){
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    .footer{
        width: fit-content;
        line-height: 2;
        padding: 5rem 1rem;
        h4{
            margin-bottom: 2rem;
            a{
                color: #757577;
                font-size: 1.2rem;
                text-align: start;
            }
        }    
        .info{
            .sub-infos{
                height: auto;
                padding: 1.5rem 0;
                line-height: 1.7;
                a{
                    color: #757577;
                    font-size: .93rem;
                }
            }
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: start;
            margin: 1.5rem 0;
            .lang{
                color: #757577;
                background-color: transparent;
                border: 1.3px solid #757577;
                padding: .4rem .8rem;
            }
        }
        .last-line{color: #757577;}
    }
}
