* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

hr {
  background-color: #757577;
  opacity: .7;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 1px;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

@media (max-width: 500px) {
  hr {
    margin-bottom: 6rem;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .7rem 1rem;
}

@media (max-width: 500px) {
  nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav .logo img {
  height: 60px;
  width: 130px;
}

@media (max-width: 500px) {
  nav .logo img {
    height: 50px;
    width: 115px;
  }
}

nav .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .btn a {
  text-decoration: none;
  color: #fff;
  background-color: #ff000f;
  padding: .5rem .7rem;
  border-radius: .2rem;
  font-family: arial;
}

@media (max-width: 500px) {
  nav .btn a {
    font-size: .8rem;
  }
}

nav .return-btn {
  padding: 2.3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

nav .return-btn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .return-btn .btn a {
  text-decoration: none;
  color: #fff;
  background-color: #ff000f;
  padding: .5rem .9rem;
  border-radius: .2rem;
  font-family: arial;
}

@media (max-width: 500px) {
  nav .return-btn .btn a {
    font-size: .8rem;
  }
}

.txt {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  overflow-x: hidden;
  z-index: 100;
}

@media (max-width: 450px) {
  .txt {
    overflow-x: hidden;
    padding: 0 1rem;
    height: auto;
  }
}

.txt h2 {
  font-size: 3.2rem;
  font-family: arial;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
}

@media (max-width: 570px) {
  .txt h2 {
    padding: 0 2rem;
    font-size: 2.4rem;
    text-align: left;
  }
}

.txt h4 {
  margin: .7rem 0;
  font-size: 1.3rem;
  font-family: arial;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 570px) {
  .txt h4 {
    padding: 0 2rem;
    text-align: left;
  }
}

.txt p {
  font-size: 1rem;
  font-family: verdana;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 570px) {
  .txt p {
    padding: 0 2rem;
    text-align: left;
  }
}

.txt .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

@media (max-width: 570px) {
  .txt .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 2;
    padding: 1rem 30%;
  }
}

.txt .form input {
  height: 45px;
  width: 330px;
  padding: 1rem;
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
  border: 1px solid #757577;
  background-color: #1b1a1aee;
}

@media (max-width: 570px) {
  .txt .form input {
    border-radius: .2rem;
    width: 370px;
  }
}

@media (max-width: 500px) {
  .txt .form input {
    width: 380px;
  }
}

@media (max-width: 420px) {
  .txt .form input {
    width: 320px;
  }
}

@media (max-width: 380px) {
  .txt .form input {
    width: 300px;
  }
}

@media (max-width: 330px) {
  .txt .form input {
    width: 250px;
  }
}

.txt .form .button {
  width: 200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff0011fd;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
  text-align: left;
}

@media (max-width: 570px) {
  .txt .form .button {
    width: 95%;
    border-radius: .2rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 500px) {
  .txt .form .button {
    width: 150%;
  }
}

.txt .form .button a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-family: arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 570px) {
  .txt .form .button a {
    font-size: 1.1rem;
  }
}

.wrapper-sign {
  background-color: #000;
  height: 100vh;
  font-family: arial;
}

.wrapper-sign .footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
}

.wrapper-sign .footer h4 a {
  color: #757577;
  font-size: 1.5rem;
  text-align: start;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  text-decoration: none;
}

.wrapper-sign .footer .info {
  height: auto;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  line-height: 2;
}

@media (max-width: 530px) {
  .wrapper-sign .footer .info {
    line-height: 1.5;
  }
}

.wrapper-sign .footer .info .sub-infos {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.wrapper-sign .footer .info .sub-infos a {
  text-decoration: none;
  color: #757577;
  font-size: .93rem;
  text-align: start;
  margin-right: 1rem;
}

.wrapper-sign .footer .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 1.5rem;
}

.wrapper-sign .footer .btn .lang {
  color: #5e5e5f;
  background-color: transparent;
  border: 1.3px solid #5e5e5f;
  padding: .4rem .8rem;
}

.form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-top: 1.5rem;
}

.form-box h2 {
  font-size: 2.5rem;
  font-family: arial;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.3rem;
}

@media (max-width: 500px) {
  .form-box h2 {
    padding-left: 2rem;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.form-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  width: 30%;
}

@media (max-width: 830px) {
  .form-box form {
    width: 45%;
  }
}

@media (max-width: 530px) {
  .form-box form {
    width: 100%;
  }
}

.form-box form .main {
  padding: .3rem 1rem;
  height: 45px;
  width: 100%;
  border-radius: .2rem;
  background-color: #333232;
  border: none;
  margin: .7rem 0;
}

.form-box form .main::-webkit-input-placeholder {
  color: #8a8a8a;
}

.form-box form .main:-ms-input-placeholder {
  color: #8a8a8a;
}

.form-box form .main::-ms-input-placeholder {
  color: #8a8a8a;
}

.form-box form .main::placeholder {
  color: #8a8a8a;
}

.form-box form .mini-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.form-box form .mini-p p {
  font-family: arial;
  font-size: .8rem;
  color: #757577;
}

.form-box form button {
  margin: 1.5rem 0;
  width: 100%;
  padding: .7rem 2rem;
  color: #fff;
  background-color: #ff000f;
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
  border-radius: .2rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  letter-spacing: 0.8px;
}

.form-box form button:hover {
  background-color: #d80614;
}

.text-again {
  line-height: 2;
  color: #757577;
  padding: .5rem 1.3rem;
}

.text-again h4 {
  font-weight: 500;
  margin-bottom: .3rem;
}

.text-again h4 a {
  text-decoration: none;
  color: #fff;
  letter-spacing: .8px;
}

.text-again p {
  font-size: .9rem;
}

.text-again p a {
  text-decoration: none;
}

.wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.73)), to(rgba(0, 0, 0, 0.95))), url(./images/bg.JPG);
  background: linear-gradient(rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.95)), url(./images/bg.JPG);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 450px) {
  .wrapper {
    background-repeat: repeat;
  }
}

@media (max-width: 320px) {
  .wrapper {
    height: auto;
  }
}

.other-sections {
  background-color: #000;
  color: #fff;
  font-family: arial;
  height: auto;
  padding: 2rem 1.5rem;
  overflow-x: hidden;
}

.other-sections .first-part,
.other-sections .second-part,
.other-sections .third-part,
.other-sections .fourth-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 3rem;
  line-height: 1.5;
  height: auto;
  margin: 1.5rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#220c0c), to(#0f070f));
  background: linear-gradient(left, #220c0c, #0f070f);
  border-radius: .4rem;
}

@media (max-width: 780px) {
  .other-sections .first-part,
  .other-sections .second-part,
  .other-sections .third-part,
  .other-sections .fourth-part {
    background: -webkit-gradient(linear, left bottom, left top, from(#220c0c), to(#0f070f));
    background: linear-gradient(bottom, #220c0c, #0f070f);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 1.3rem;
  }
}

.other-sections .first-part h2,
.other-sections .second-part h2,
.other-sections .third-part h2,
.other-sections .fourth-part h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

@media (max-width: 500px) {
  .other-sections .first-part h2,
  .other-sections .second-part h2,
  .other-sections .third-part h2,
  .other-sections .fourth-part h2 {
    font-size: 2rem;
    line-height: 1.2;
  }
}

@media (max-width: 420px) {
  .other-sections .first-part h2,
  .other-sections .second-part h2,
  .other-sections .third-part h2,
  .other-sections .fourth-part h2 {
    font-size: 1.5rem;
    text-align: left;
  }
}

.other-sections .first-part p,
.other-sections .second-part p,
.other-sections .third-part p,
.other-sections .fourth-part p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

@media (max-width: 500px) {
  .other-sections .first-part p,
  .other-sections .second-part p,
  .other-sections .third-part p,
  .other-sections .fourth-part p {
    font-size: 1rem;
    text-align: left;
  }
}

.other-sections .first-part .info,
.other-sections .second-part .info,
.other-sections .third-part .info,
.other-sections .fourth-part .info {
  width: 30%;
}

@media (max-width: 850px) {
  .other-sections .first-part .info,
  .other-sections .second-part .info,
  .other-sections .third-part .info,
  .other-sections .fourth-part .info {
    width: 90%;
  }
}

.other-sections .first-part .pic-1,
.other-sections .second-part .pic-1,
.other-sections .third-part .pic-1,
.other-sections .fourth-part .pic-1 {
  height: 190px;
  width: 400px;
  margin: 1.5rem 0;
}

@media (max-width: 500px) {
  .other-sections .first-part .pic-1,
  .other-sections .second-part .pic-1,
  .other-sections .third-part .pic-1,
  .other-sections .fourth-part .pic-1 {
    height: 190px;
    width: 300px;
  }
}

.other-sections .first-part .pic-2,
.other-sections .second-part .pic-2,
.other-sections .third-part .pic-2,
.other-sections .fourth-part .pic-2 {
  height: 250px;
  width: 400px;
  margin: 1.5rem 0;
  border-bottom-left-radius: .9rem;
  border-top-right-radius: .9rem;
}

@media (max-width: 500px) {
  .other-sections .first-part .pic-2,
  .other-sections .second-part .pic-2,
  .other-sections .third-part .pic-2,
  .other-sections .fourth-part .pic-2 {
    height: 180px;
    width: 250px;
  }
}

.other-sections .first-part .pic-3,
.other-sections .second-part .pic-3,
.other-sections .third-part .pic-3,
.other-sections .fourth-part .pic-3 {
  height: 300px;
  width: 350px;
  margin: 1.5rem 0;
}

@media (max-width: 500px) {
  .other-sections .first-part .pic-3,
  .other-sections .second-part .pic-3,
  .other-sections .third-part .pic-3,
  .other-sections .fourth-part .pic-3 {
    height: 180px;
    width: 180px;
  }
}

.other-sections .first-part .pic-4,
.other-sections .second-part .pic-4,
.other-sections .third-part .pic-4,
.other-sections .fourth-part .pic-4 {
  height: 250px;
  width: 200px;
  margin: 1.5rem 0;
}

@media (max-width: 500px) {
  .other-sections .first-part .pic-4,
  .other-sections .second-part .pic-4,
  .other-sections .third-part .pic-4,
  .other-sections .fourth-part .pic-4 {
    height: 180px;
    width: 180px;
  }
}

.other-sections .fifth-part {
  line-height: 2;
  padding: 3rem;
}

@media (max-width: 570px) {
  .other-sections .fifth-part {
    padding: 2rem 1rem;
  }
}

.other-sections .fifth-part h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.other-sections .fifth-part .faq-box {
  background-color: #120c20;
  margin: .8rem 0;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 570px) {
  .other-sections .fifth-part .faq-box .ques {
    font-size: .9rem;
  }
}

.other-sections .fifth-part .faq-box .plus-icon {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}

.other-sections .sixth-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.other-sections .sixth-part p {
  padding: 0 1rem;
  text-align: left;
  line-height: 1.5;
}

.other-sections .sixth-part .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 1rem;
}

@media (max-width: 570px) {
  .other-sections .sixth-part .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 2;
    padding: 1rem 30%;
  }
}

.other-sections .sixth-part .form input {
  height: 45px;
  width: 330px;
  padding: 1rem;
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
  border: 1px solid #757577;
  background-color: #1b1a1aee;
}

@media (max-width: 570px) {
  .other-sections .sixth-part .form input {
    border-radius: .2rem;
    width: 370px;
  }
}

@media (max-width: 500px) {
  .other-sections .sixth-part .form input {
    width: 380px;
  }
}

@media (max-width: 420px) {
  .other-sections .sixth-part .form input {
    width: 320px;
  }
}

@media (max-width: 380px) {
  .other-sections .sixth-part .form input {
    width: 300px;
  }
}

@media (max-width: 330px) {
  .other-sections .sixth-part .form input {
    width: 250px;
  }
}

.other-sections .sixth-part .form .button {
  width: 200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff0011fd;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
  text-align: left;
}

@media (max-width: 570px) {
  .other-sections .sixth-part .form .button {
    width: 95%;
    border-radius: .2rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 500px) {
  .other-sections .sixth-part .form .button {
    width: 150%;
  }
}

.other-sections .sixth-part .form .button a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-family: arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 570px) {
  .other-sections .sixth-part .form .button a {
    font-size: 1.1rem;
  }
}

.other-sections .footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 2;
  padding: 5rem 1rem;
}

.other-sections .footer h4 {
  margin-bottom: 2rem;
}

.other-sections .footer h4 a {
  color: #757577;
  font-size: 1.2rem;
  text-align: start;
}

.other-sections .footer .info .sub-infos {
  height: auto;
  padding: 1.5rem 0;
  line-height: 1.7;
}

.other-sections .footer .info .sub-infos a {
  color: #757577;
  font-size: .93rem;
}

.other-sections .footer .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 1.5rem 0;
}

.other-sections .footer .btn .lang {
  color: #757577;
  background-color: transparent;
  border: 1.3px solid #757577;
  padding: .4rem .8rem;
}

.other-sections .footer .last-line {
  color: #757577;
}
/*# sourceMappingURL=style.css.map */
